# Ignore node_modules in both frontend and backend
BE/node_modules/
FE/node_modules/

# Ignore environment files
BE/.env
FE/.env

# Ignore dependency lock files if needed (optional)
BE/package-lock.json
FE/package-lock.json

# Ignore build and cache files
BE/dist/
FE/dist/
FE/.vite/