@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --primary: #0a010e;
  --secondary: #27212b;
  --tertiary: #7e2fa8;
  --quaternary: #ebd3f8;
  --textarea: #e1d8e9;
  color: white;
}
.light {
  --primary: #fff2f2;
  --secondary: #e5e0ff;
  --tertiary: #8ea7e9;
  --quaternary: #7286d3;
  --textarea: #ecf3fd;
  color: black;
}
button {
  cursor: pointer;
}
