@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --primary: #0a010e;
  --secondary: #27212b;
  --tertiary: #5f416d;
  --quaternary: #ebd3f8;
  --textarea: #e1d8e9;
  color: white;
}
.light {
  --primary: #fff2f2;
  --secondary: #e5e0ff;
  --tertiary: #5dacf7;
  --quaternary: #3792dd;
  --textarea: #ecf3fd;
  color: black;
}
button {
  cursor: pointer;
}

/* Toggle.jsx button for Dark Mode styling */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--tertiary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-image: url("../assets/sun-2-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
}

input:checked + .slider {
  background-color: var(--tertiary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30x);
  transform: translateX(30px);
  background-image: url("../assets/moon-svgrepo-com.svg");
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* End of Toggle.jsx styling */
